@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 기본 heading 스타일 재설정 */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h2 {
    @apply text-2xl mb-4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2eadf;
  color: #0d0000;
}

button {
  background-color: #f2eadf;
  color: #403e3b;
}

button:hover,
button:active {
  background-color: #8c8881;
  color: #f2f2f2;
}

.btn-reset {
  background-color: #8c8881;
  color: #f2f2f2;
}

.btn-reset:hover {
  opacity: 0.5;
}

.btn-save {
  background-color: #d9756c;
  color: #f2f2f2;
}

.btn-save:hover {
  background-color: #d9756c;
  opacity: 0.5;
}
